<html>
    <body>
        <p>Casting Agency</p>
        <p><button id="LoginButton" value="{{ call_back_url }}">LOG IN</button></p>
    </body>
</html>

<script> 
    document.getElementById("LoginButton").addEventListener("click", clickLogIn); 

    window.onload = function didLoad() {
        let dynamic_callBack_url = document.getElementById("LoginButton").value
        if ( dynamic_callBack_url != null ) {
            console.log("Dynamic URL: " + dynamic_callBack_url)
        }
    }

    function clickLogIn(e) {
        var callBackUrl = "http://127.0.0.1:5000/login-result";
        
        let dynamic_callBack_url = document.getElementById("LoginButton").value
        if ( dynamic_callBack_url != null ) {
            callBackUrl = dynamic_callBack_url
            console.log("Dynamic URL: " + dynamic_callBack_url)
        }

        let url = "https://coffee-x.eu.auth0.com/authorize?response_type=token&client_id=rrWjZ5b3EgJPRWuYiEILJ6k1geRnsMbi&redirect_uri=" +callBackUrl+ "&audience=casting-agency&state=STATE";
        window.location.href = url;
    }
</script>